*.log
*.tmp
*.bam
.snakemake/
coop_data/
envs/
halfmadefiles/
junk/
matrices/
OG_align/
outputs/
ran-through_data
raw_data
extra_matrix.py
FoxA1_rep2.csv
matrix.py
my_data.csv
NucV3_details.txt
snakefile.save
Undetermined_S0_L001_R1_001.fastq.gz
Undetermined_S0_L001_R2_001.fastq.gz
ye_old_metafile.txt